* {
    margin: 0;
    padding: 0;
    width: 1460;
    height: 5000;
    scroll-behavior: smooth;
    background-color:white;

}

body{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 4vh;
    text-align: center;
}


#input_status{
    background-color:white;
}

#inputbt{

}

#kepala{

}

#pesan{

}

#judul{

}

#tabel{

}