{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Your Memo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    </head>

    <body>
        <div class="container" id="input_status">
            <div class="row">
                <div class="col-md-12 col-sm-12" id="kepala">
                    <h1>Tuliskan!</h1>
                </div>
                <div class="col-md-12 col-sm-12" id="pesan">
                    <p><b>Apa yang ingin kamu sampaikan?</b></p>
                </div>
                <div class="col-md-12 col-sm-12 d-flex justify-content-center">
                    <form class="form-group" method="POST" id="input_area">
                        <div class="form-row">
                            {% csrf_token %}    
                            {{ EntryForm.input_status }}
                            <input type="submit" class="btn btn-light" value="Submit" id="inputbt"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 id="judul">Linimasa</h1>
                </div>
                    {% for j in Status %}
                    <div class="container">
                        <hr>
                        <div class="row">
                            <div id="tabel" class="col-md-12 col-sm-12">
                                <h5>{{ j.input_status }}</h5>
                                <h5>{{ j.waktu }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </body>
</html>
        